@font-face
    font-display: swap
    font-family: Outfit-Bold
    src: url(../assets/other/Outfit-Bold.woff2) format(woff2)

html, body
    margin: 0
    height: 100%
    user-select: none
    -webkit-tap-highlight-color: transparent

body
    background: rgb(0, 0, 0)